<table>
  <thead>
    <tr>
      <th>
        <form action="#" class="form">
          <div class="form__checkbox">
            <input type="checkbox" name="id" id="id" value="1" checked>
            <label for="id">Id</label>
          </div>
        </form>
      <th>
        <form action="#" class="form">
          <div class="form__checkbox">
            <input type="checkbox" name="name" id="name" value="2" checked>
            <label for="name">Name</label>
          </div>
        </form>
      </th>
      <th>
        <form action="#" class="form">
          <div class="form__checkbox">
            <input type="checkbox" name="year" id="year" value="3" checked>
            <label for="year">Year</label>
          </div>
        </form>
      </th>
      <th>
        <form action="#" class="form">
          <div class="form__checkbox">
            <input type="checkbox" name="color" id="color" value="4" checked>
            <label for="color">Color</label>
          </div>
        </form>
      </th>
      <th>
        <form action="#" class="form">
          <div class="form__checkbox">
            <input type="checkbox" name="value" id="value" value="5" checked>
            <label for="value">Pantone value</label>
          </div>
        </form>
      </th>
    </tr>
  </thead>
  <tbody id="table" data-url="https://reqres.in/api/unknown?per_page=12">
    <!-- table -->
  </tbody>
</table>
