$desktop-width: 1440px;
$laptop-width: 1024px;
$tablet-width: 768px;
$mobile-max-width: 500px;
$mobile-width: 320px;

// Цвета
$black: #000000;
$white: #ffffff;
$grey: #888888;
$light: #ECF0F3;
$blue:  #0075FF;
$light-grey: rgba(0, 0, 0, 0.08);
$transparent: rgba(0, 0, 0, 0);

// Шрифты
$font: "Segoe UI", "Arial", sans-serif;

$style-change-duration: 0.3s;

$retina2x-dpi: 144dpi;
$retina2x-dppx: 1.5dppx;
